.cubetech-icon-facts-container { display: table; text-align: center; width: 100%; table-layout: fixed; margin-top: 20px; }
.cubetech-icon-facts { display: table-cell; text-align: center; padding: 0 30px; }

.cubetech-icon-facts-image { display: inline-block; position: relative; width: auto; }
.cubetech-icon-facts-image i { display: inline-block; position: absolute; height: 100%; width: 100%; line-height: 145px; color: white; font-size: 64px; }

.cubetech-icon-facts-content { display: none; text-align: center; }
.cubetech-icon-facts-content.cubetech-icon-facts-noslideout { display: block; }
.cubetech-icon-facts-link.cubetech-icon-facts-noslideout { display: none; }
.cubetech-icon-facts-button { position: relative; display: inline-block; width: 100px; height: 30px; text-align: center; }
.cubetech-icon-facts-button > span { display: inline-block; position: absolute; left: 0; right: 0; width: 100px; text-align: center; }
.cubetech-icon-facts-button .less { display: none; }